.netLight::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  right: 0;
  color-scheme: "dark";
  background: linear-gradient(to top, #fff, transparent);
}

.netLight {
  position: relative;
}

.netDark::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  right: 0;
  color-scheme: "dark";
  background: linear-gradient(to top, #212121, transparent);
}

.netDark {
  position: relative;
}
